@model IEnumerable<StoreFront.DATA.EF.Models.VersionsProduct>

@{
    ViewData["Title"] = "Versions of " + @ViewData["ProductName"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New Versions</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Properties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th style="width:15%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                <img src="~/assets/images/products/t_@Html.DisplayFor(modelItem => item.Product.Image)" class="img-fluid" alt="" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Properties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary mb-1">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary mb-1">Details</a> <br/>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
